* {
  outline: none;
  box-sizing: border-box;
  font-family: $font-poppins, $font-dangrek;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
}

// Custom vuesax style
.vs-input {
  width: 100%;
  padding: 10px 15px;
  @include font-text($font-16, normal, $dark);
  font-family: $font-poppins;
}

// Global button

