* {
  outline: none;
  box-sizing: border-box;
  font-family: $font-poppins, $font-battambang;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
}

// Global button
button:disabled, button[disabled] {
  pointer-events: none;
  cursor: default;
}

// Custom vuesax avatar
.vs-avatar img {
  height: 100% !important;
  object-fit: cover !important;
}
