// font-family
$font-poppins: "Poppins", sans-serif;


// colors
$primary: #a1c4fd;
$second: #c2e9fb;
$dark: #000000;
$light: #FFFFFF;
$silver: #C0C0C0;
$dark-gray: #A9A9A9;
$light-gray: #D3D3D3;
$gainboro: #DCDCDC;

// font-size
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
