
.chat-card_wrapper {
  position: relative;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;

  &.active, &:hover {
    background-color: #efefef;
  }

  .chat-card_container {
    display: flex;
    align-items: center;
    padding: 10px;

    .chat-card_content {
      width: 100%;
      margin-left: 15px;

      .chat-name {
        @include font-text($font-16, normal, $dark);
      }
      .chat-last {
        width: 100%;
        display: flex;
        align-items: center;

        .text, .chat-date {
          @include font-text($font-14, normal, $dark-gray);
        }
        .chat-date {
          margin-left: auto;
        }
      }
    }
  }
}
